<footer class="page-footer center-on-small-only waves-light" mdbRippleRadius>
	<!--Footer Links-->
	<div class="container " >
		<div class="row">
			<!--First column-->
			<div class="col-md-3">
				<logo>
					<a href="./"><img src="../../assets/img/logo/logo.png" alt="Logo"></a>
				</logo>
				<p>&nbsp;</p>
				<p class="text-left">Here you can use rows and columns here to organize your footer content.</p>
				<p class="text-right"><a href="#">   Read more</a></p>
			</div>
			<!--/.First column-->

			<!-- <hr class="hidden-md-up"> -->
			<!--/.Second column-->

			<hr class="hidden-md-up">

			<!--Third column-->
			<div class="col-md-3">
				<h5 class="title text-left" style="font-weight: 600;margin-top: 10px;">Recent News</h5>
				<p>&nbsp;</p>
				<ul align="left">
					<li><i class="fa fa-file" aria-hidden="true"></i><a href="#!">&nbsp;Link 1</a></li>
					<hr>
					<li><i class="fa fa-file" aria-hidden="true"></i><a href="#!">&nbsp;Link 2</a></li>
					<hr>
					<li><i class="fa fa-file" aria-hidden="true"></i><a href="#!">&nbsp;Link 3</a></li>
					<hr>
					<li><i class="fa fa-file" aria-hidden="true"></i><a href="#!">&nbsp;Link 4</a></li>
					<hr>
				</ul>
			</div>
			<!--/.Third column-->

			<hr class="hidden-md-up">

			<!--Fourth column-->
			<div class="col-md-3">
				<h5 class="title text-left" style="font-weight: 600;margin-top: 10px">Contact us</h5>
				<p>&nbsp;</p>
				<ul align="left">
					<li>Phone No : <a href="tel:+123456789">+123456789</a></li>
					<p>&nbsp;</p>
					<li>Mobile No : <a href="tel:45784456">457844456</a></li>
					<p>&nbsp;</p>
					<li>Email : <a href="mailto:abc@gmail.com">abc@gmail.com</a></li>
				</ul>
				<p>&nbsp;</p>
				<h5 class="title text-left" style="font-weight:600">Gallery</h5>
				<br>

				<div class="row">
					<div class="col-md-12">
						<div class="mdb-lightbox">
							<div class="row">
								<div class="col-md-8" style="padding-left:27px;">
									<div class="row">
										<a href="https://unsplash.it/1200/768.jpg?image=251" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 less-pad">
											<img src="https://unsplash.it/600.jpg?image=251" class="img-fluid">
										</a>
										<a href="https://unsplash.it/1200/768.jpg?image=252" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 less-pad">
											<img src="https://unsplash.it/600.jpg?image=252" class="img-fluid">
										</a>
										<a href="https://unsplash.it/1200/768.jpg?image=253" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 less-pad">
											<img src="https://unsplash.it/600.jpg?image=253" class="img-fluid">
										</a>
									</div>
									<br>
									<div class="row">
										<a href="https://unsplash.it/1200/768.jpg?image=254" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 less-pad">
											<img src="https://unsplash.it/600.jpg?image=254" class="img-fluid">
										</a>
										<a href="https://unsplash.it/1200/768.jpg?image=255" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 less-pad">
											<img src="https://unsplash.it/600.jpg?image=255" class="img-fluid">
										</a>
										<a href="https://unsplash.it/1200/768.jpg?image=256" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 less-pad">
											<img src="https://unsplash.it/600.jpg?image=256" class="img-fluid">
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> <!--/.Fourth column-->
		</div>
	</div>
	<!--/.Footer Links-->

	<!--Social buttons-->
	<!-- <div class="text-center mb-3">
		<a class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"> </i></a>
		<a class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"> </i></a>
		<a class="btn-floating btn-small btn-gplus"><i class="fa fa-google-plus"> </i></a>
		<a class="btn-floating btn-small btn-li"><i class="fa fa-linkedin"> </i></a>
		<a class="btn-floating btn-small btn-git"><i class="fa fa-github"> </i></a>
		<a class="btn-floating btn-small btn-pin"><i class="fa fa-pinterest"> </i></a>
		<a class="btn-floating btn-small btn-ins"><i class="fa fa-instagram"> </i></a>
	</div> -->
	<!--/.Social buttons-->

	<!--Copyright-->
	<p>&nbsp;</p><br>
	<div class="footer-copyright waves-light" mdbRippleRadius>
		<div class="container-fluid">
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<p class="text-left text-white"> Copyright Carrental 2017</p>
					</div>
					<div class="col-md-5">
						<div class="row">
							<div class="col-md-5 nopad">
								<a class="text-white" [routerLink]="['/termscond']">Terms and Conditions</a>
							</div>
							<div class="col-md-3 nopad">
								<a class="text-white" [routerLink]="['/privacy']">Privacy</a>
							</div>
							<div class="col-md-2 nopad">
								<a class="text-white" [routerLink]="['/career']">Career</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/.Copyright-->
</footer>
<!--/.Footer-->
